nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    padding: 5px;
    color: black;
}
nav a:hover{
    color: #ccc;
}

.active {
    background-color: #000;
    color: #fff;
}

